@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/*
------------------------------
 GLOBAL styles
------------------------------
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --bg-main: hsl(233, 47%, 7%);
  --bg-card: hsl(244, 38%, 16%);

  --color-ascent: hsl(277, 64%, 61%);
  --color-main: hsl(0, 0%, 100%);
  --color-paragraph: hsla(0, 0%, 100%, 0.75);
  --color-headings: hsla(0, 0%, 100%, 0.6);
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

/*
------------------------------
 MOBILE styles
------------------------------
*/

.container {
  display: grid;
  place-content: center;

  background-color: var(--bg-main);
  padding: 10px;
}

.card {
  display: grid;

  background-color: var(--bg-card);
  max-width: 32rem;
  border-radius: 1.5rem;
  overflow: hidden;
}

.card__header {
  position: relative;
  background-image: url('./images/image-header-mobile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-ascent);
  background-blend-mode: overlay;
  opacity: 0.8;
  width: 100%;
  min-height: 24rem;
}

/* .card__header::after {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-ascent);
  opacity: 0.8;
  mix-blend-mode: multiply;
} */

.card__main {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  justify-items: center;
  color: var(--color-main);
  font-family: 'Inter', sans-serif;

  padding: 4rem;
}

.card__title {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.5;
}

.card__text {
  text-align: center;
  font-size: 1.4rem;
  color: var(--color-paragraph);
  font-weight: 400;
  line-height: 1.6;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

.card__about {
  font-size: 1.5rem;
  display: grid;
  row-gap: 3.5rem;
}

.card__about > * {
  text-align: center;
}

.card__info {
  display: grid;
  row-gap: 5px;
}

.card__info-num {
  font-size: 2rem;
}

.card__info-num {
  display: block;
}

/*
------------------------------
 UTILITY classes
------------------------------
*/

.txt-uppercase {
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--color-paragraph);
  letter-spacing: 0.5px;
  font-weight: 400;
}

.txt-bold {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.highlight {
  color: var(--color-ascent);
}

/*
------------------------------
 DESKTOP styles
------------------------------
*/
@media (min-width: 50em) {
  .container {
    height: 100vh;
  }

  .card {
    grid-template-columns: 1fr 1fr;
    max-width: 100rem;
  }

  .card__header {
    width: 100%;
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    min-height: inherit;
  }

  .card__main {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-items: stretch;
    padding: 6.5rem;
    padding-right: 10rem;
  }

  .card__about {
    grid-template-columns: repeat(3, min-content);
    justify-content: space-between;
  }

  .card__title {
    text-align: left;
    font-size: 3rem;
  }

  .card__text {
    text-align: left;
    margin-bottom: 7rem;
  }

  .card__info > * {
    text-align: left;
  }

  .txt-uppercase {
    letter-spacing: 1.5px;
  }
}
